In [5]:
from fastapi import FastAPI
import pandas as pd
from pandasql import sqldf
import os

In [6]:
r1 = pd.read_csv("/Users/skj/Documents/HENRYYY/PI/MLOpsReviews/ratings/1.csv")
r2 = pd.read_csv("/Users/skj/Documents/HENRYYY/PI/MLOpsReviews/ratings/2.csv")
r3 = pd.read_csv("/Users/skj/Documents/HENRYYY/PI/MLOpsReviews/ratings/3.csv")
r4 = pd.read_csv("/Users/skj/Documents/HENRYYY/PI/MLOpsReviews/ratings/4.csv")
r5 = pd.read_csv("/Users/skj/Documents/HENRYYY/PI/MLOpsReviews/ratings/5.csv")
r6 = pd.read_csv("/Users/skj/Documents/HENRYYY/PI/MLOpsReviews/ratings/6.csv")
r7 = pd.read_csv("/Users/skj/Documents/HENRYYY/PI/MLOpsReviews/ratings/7.csv")
r8 = pd.read_csv("/Users/skj/Documents/HENRYYY/PI/MLOpsReviews/ratings/8.csv")

In [7]:
ratings = pd.concat([r1, r2, r3, r4, r5, r6, r7, r8])

In [8]:
ratings.shape

(11024289, 4)

In [9]:
ratings.isna().sum()

userId       0
rating       0
timestamp    0
movieId      0
dtype: int64

In [10]:
ratings

         userId  rating   timestamp movieId
0             1     1.0  1425941529   as680
1             1     4.5  1425942435  ns2186
2             1     5.0  1425941523  hs2381
3             1     5.0  1425941546  ns3663
4             1     5.0  1425941556  as9500
...         ...     ...         ...     ...
1499995  124380     4.5  1196786159  ns5272
1499996  124380     2.5  1196786030  ns5492
1499997  124380     3.5  1196785679   hs305
1499998  124380     4.5  1196787089  ns7881
1499999  124380     1.5  1196785847   as883

[11024289 rows x 4 columns]

In [11]:
ratings.rename(columns = {'userId':'user_id', 'movieId':'id'}, inplace = True)

In [15]:
ratings.head()

   user_id  rating   timestamp      id
0        1     1.0  1425941529   as680
1        1     4.5  1425942435  ns2186
2        1     5.0  1425941523  hs2381
3        1     5.0  1425941546  ns3663
4        1     5.0  1425941556  as9500

In [14]:
ratings.to_csv("ratings.csv", index=False)